## Analysing some element's effect on S&P 500 :

In [104]:
import numpy as np, pandas as pd

In [105]:
df_index=pd.read_excel(r"A:\Documents\Data Course\Projects\S&P 500\sp_index.xlsx", header=[2]).iloc[:,1:]
df_index.head()

        Date   Value
0 2024-06-30  0.0347
1 2024-05-31  0.0480
2 2024-04-30 -0.0416
3 2024-03-31  0.0310
4 2024-02-29  0.0517

In [106]:
df_index['Date'].iloc[4]

Timestamp('2024-02-29 00:00:00')

In [107]:
df_index.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    50 non-null     datetime64[ns]
 1   Value   50 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 932.0 bytes

In [108]:
df_index.loc[4,'Date']

Timestamp('2024-02-29 00:00:00')

In [109]:
df_factor= pd.read_excel(r"A:\Documents\Data Course\Projects\S&P 500\usa_factor.xlsx")
df_factor

,location,name,freq,weighting,direction,n_stocks,n_stocks_min,date,ret
0,usa,age,monthly,ew,-1,502,8,1926-03-31,-0.066167
1,usa,age,monthly,ew,-1,505,12,1926-04-30,0.010546
2,usa,age,monthly,ew,-1,510,17,1926-05-31,-0.020292
3,usa,age,monthly,ew,-1,512,21,1926-06-30,-0.008927
4,usa,age,monthly,ew,-1,503,23,1926-07-31,0.017724
...,...,...,...,...,...,...,...,...,...
142779,usa,zero_trades_252d,monthly,ew,1,3841,1554,2023-08-31,0.067512
142780,usa,zero_trades_252d,monthly,ew,1,3832,1548,2023-09-30,0.044560
142781,usa,zero_trades_252d,monthly,ew,1,3833,1547,2023-10-31,0.064437
142782,usa,zero_trades_252d,monthly,ew,1,3826,1575,2023-11-30,-0.037080
142783,usa,zero_trades_252d,monthly,ew,1,3807,1566,2023-12-31,-0.042181

In [110]:
df_factor['date'].iloc[4]

Timestamp('1926-07-31 00:00:00')

In [111]:
df_factor['date']=df_factor['date'].dt.strftime("%Y/%m/%d")

In [112]:
df_factor.head()

,location,name,freq,weighting,direction,n_stocks,n_stocks_min,date,ret
0,usa,age,monthly,ew,-1,502,8,1926/03/31,-0.066167
1,usa,age,monthly,ew,-1,505,12,1926/04/30,0.010546
2,usa,age,monthly,ew,-1,510,17,1926/05/31,-0.020292
3,usa,age,monthly,ew,-1,512,21,1926/06/30,-0.008927
4,usa,age,monthly,ew,-1,503,23,1926/07/31,0.017724

In [113]:
df_factor.tail()

,location,name,freq,weighting,direction,n_stocks,n_stocks_min,date,ret
142779,usa,zero_trades_252d,monthly,ew,1,3841,1554,2023/08/31,0.067512
142780,usa,zero_trades_252d,monthly,ew,1,3832,1548,2023/09/30,0.044560
142781,usa,zero_trades_252d,monthly,ew,1,3833,1547,2023/10/31,0.064437
142782,usa,zero_trades_252d,monthly,ew,1,3826,1575,2023/11/30,-0.037080
142783,usa,zero_trades_252d,monthly,ew,1,3807,1566,2023/12/31,-0.042181

In [114]:
df_factor1=df_factor[['name','date','ret']]
df_factor1.tail()

                    name        date       ret
142779  zero_trades_252d  2023/08/31  0.067512
142780  zero_trades_252d  2023/09/30  0.044560
142781  zero_trades_252d  2023/10/31  0.064437
142782  zero_trades_252d  2023/11/30 -0.037080
142783  zero_trades_252d  2023/12/31 -0.042181

In [115]:
df_factor1['date'].iloc[4]

'1926/07/31'

In [116]:
list_factor= list(df_factor1['name'].value_counts().index[:10])
list_factor

['market_equity',
 'prc',
 'rmax1_21d',
 'ret_1_0',
 'zero_trades_21d',
 'iskew_capm_21d',
 'ivol_capm_21d',
 'rvol_21d',
 'rskew_21d',
 'bidaskhl_21d']

In [117]:
df_factor2=df_factor1[df_factor1['name'].isin(list_factor)]
df_factor2

                   name        date       ret
14819      bidaskhl_21d  1926/02/28 -0.018325
14820      bidaskhl_21d  1926/03/31 -0.051434
14821      bidaskhl_21d  1926/04/30 -0.012080
14822      bidaskhl_21d  1926/05/31 -0.019390
14823      bidaskhl_21d  1926/06/30 -0.001184
...                 ...         ...       ...
141608  zero_trades_21d  2023/08/31  0.075131
141609  zero_trades_21d  2023/09/30  0.048954
141610  zero_trades_21d  2023/10/31  0.045431
141611  zero_trades_21d  2023/11/30 -0.026700
141612  zero_trades_21d  2023/12/31 -0.017082

[11752 rows x 3 columns]

In [118]:
df_factor2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11752 entries, 14819 to 141612
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    11752 non-null  object
 1   date    11752 non-null  object
 2   ret     11752 non-null  float64
dtypes: float64(1), object(2)
memory usage: 367.2+ KB

In [119]:
df_factor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142784 entries, 0 to 142783
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   location      142784 non-null  object
 1   name          142784 non-null  object
 2   freq          142784 non-null  object
 3   weighting     142784 non-null  object
 4   direction     142784 non-null  int64
 5   n_stocks      142784 non-null  int64
 6   n_stocks_min  142784 non-null  int64
 7   date          142784 non-null  object
 8   ret           142784 non-null  float64
dtypes: float64(1), int64(3), object(5)
memory usage: 9.8+ MB

In [120]:
# another way: df_factor2=df_factor1['date'].apply(lambda x: x in list_factor)

In [121]:
df_factor2['date'].iloc[1112]

'2018/10/31'

In [122]:
list_year= df_index['Date'].apply(lambda x : x.year)
list_year

0     2024
1     2024
2     2024
3     2024
4     2024
5     2024
6     2023
7     2023
8     2023
9     2023
10    2023
11    2023
12    2023
13    2023
14    2023
15    2023
16    2023
17    2023
18    2022
19    2022
20    2022
21    2022
22    2022
23    2022
24    2022
25    2022
26    2022
27    2022
28    2022
29    2022
30    2021
31    2021
32    2021
33    2021
34    2021
35    2021
36    2021
37    2021
38    2021
39    2021
40    2021
41    2021
42    2020
43    2020
44    2020
45    2020
46    2020
47    2020
48    2020
49    2020
Name: Date, dtype: int64

In [123]:
int(df_factor2['date'].str[:4][141610])== list_year[49]

False

In [124]:
list_year[10]

2023

In [125]:
int(df_factor2['date'].str[:4][141610])==list_year[10]

True

In [126]:
a= df_factor2['date'].apply(lambda x: int(x[:4])).isin (list_year)
df_factor3= df_factor2[a]
df_factor3

                   name        date       ret
15946      bidaskhl_21d  2020/01/31  0.004402
15947      bidaskhl_21d  2020/02/29  0.013359
15948      bidaskhl_21d  2020/03/31 -0.063263
15949      bidaskhl_21d  2020/04/30  0.105975
15950      bidaskhl_21d  2020/05/31  0.035376
...                 ...         ...       ...
141608  zero_trades_21d  2023/08/31  0.075131
141609  zero_trades_21d  2023/09/30  0.048954
141610  zero_trades_21d  2023/10/31  0.045431
141611  zero_trades_21d  2023/11/30 -0.026700
141612  zero_trades_21d  2023/12/31 -0.017082

[480 rows x 3 columns]

In [127]:
df_factor3['new_date']=df_factor3['date'].str[:7]
df_factor3.head()

C:\Users\siava\AppData\Local\Temp\ipykernel_10476\987691820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_factor3['new_date']=df_factor3['date'].str[:7]

               name        date       ret new_date
15946  bidaskhl_21d  2020/01/31  0.004402  2020/01
15947  bidaskhl_21d  2020/02/29  0.013359  2020/02
15948  bidaskhl_21d  2020/03/31 -0.063263  2020/03
15949  bidaskhl_21d  2020/04/30  0.105975  2020/04
15950  bidaskhl_21d  2020/05/31  0.035376  2020/05

In [128]:
df_index.head()

        Date   Value
0 2024-06-30  0.0347
1 2024-05-31  0.0480
2 2024-04-30 -0.0416
3 2024-03-31  0.0310
4 2024-02-29  0.0517

In [129]:
df_index['Date'].apply(lambda x: str(x.year))

0     2024
1     2024
2     2024
3     2024
4     2024
5     2024
6     2023
7     2023
8     2023
9     2023
10    2023
11    2023
12    2023
13    2023
14    2023
15    2023
16    2023
17    2023
18    2022
19    2022
20    2022
21    2022
22    2022
23    2022
24    2022
25    2022
26    2022
27    2022
28    2022
29    2022
30    2021
31    2021
32    2021
33    2021
34    2021
35    2021
36    2021
37    2021
38    2021
39    2021
40    2021
41    2021
42    2020
43    2020
44    2020
45    2020
46    2020
47    2020
48    2020
49    2020
Name: Date, dtype: object

In [130]:
str(df_index.iloc[0,0]).replace('-','/')[:7]

'2024/06'

In [131]:
b= df_index['Date'].apply(lambda x: str(x).replace('-','/')[:7])
b.head()
df_index['value_date']= b

In [132]:
df_index.head()

        Date   Value value_date
0 2024-06-30  0.0347    2024/06
1 2024-05-31  0.0480    2024/05
2 2024-04-30 -0.0416    2024/04
3 2024-03-31  0.0310    2024/03
4 2024-02-29  0.0517    2024/02

In [133]:
n= 0
list_factor[n]

'market_equity'

In [134]:
df_factor4= df_factor3[df_factor3['name']== list_factor[n]]
df_factor4.head()

                name        date       ret new_date
63091  market_equity  2020/01/31 -0.002362  2020/01
63092  market_equity  2020/02/29  0.013139  2020/02
63093  market_equity  2020/03/31 -0.056472  2020/03
63094  market_equity  2020/04/30  0.066234  2020/04
63095  market_equity  2020/05/31  0.005801  2020/05

In [135]:
df_merge= pd.merge(df_index,df_factor4, left_on='value_date',right_on='new_date', how='inner')
df_merge.head()

        Date   Value value_date           name        date       ret new_date
0 2023-12-31  0.0442    2023/12  market_equity  2023/12/31  0.035934  2023/12
1 2023-11-30  0.0892    2023/11  market_equity  2023/11/30 -0.019387  2023/11
2 2023-10-31 -0.0220    2023/10  market_equity  2023/10/31 -0.045762  2023/10
3 2023-09-30 -0.0487    2023/09  market_equity  2023/09/30 -0.026257  2023/09
4 2023-08-31 -0.0177    2023/08  market_equity  2023/08/31 -0.051764  2023/08

In [136]:
df_merge2= df_merge.rename(columns={'Value':'index_return','ret':'factor_return','new_date':'year_month','name':'factor_name'})
df_merge2.head()

,Date,index_return,value_date,factor_name,date,factor_return,year_month
0,2023-12-31,0.0442,2023/12,market_equity,2023/12/31,0.035934,2023/12
1,2023-11-30,0.0892,2023/11,market_equity,2023/11/30,-0.019387,2023/11
2,2023-10-31,-0.0220,2023/10,market_equity,2023/10/31,-0.045762,2023/10
3,2023-09-30,-0.0487,2023/09,market_equity,2023/09/30,-0.026257,2023/09
4,2023-08-31,-0.0177,2023/08,market_equity,2023/08/31,-0.051764,2023/08

In [137]:
df_factor5=df_merge2[['factor_name','year_month','index_return','factor_return']]
df_factor5.head()

     factor_name year_month  index_return  factor_return
0  market_equity    2023/12        0.0442       0.035934
1  market_equity    2023/11        0.0892      -0.019387
2  market_equity    2023/10       -0.0220      -0.045762
3  market_equity    2023/09       -0.0487      -0.026257
4  market_equity    2023/08       -0.0177      -0.051764

In [138]:
final1= df_factor5

In [139]:
np.corrcoef(final1['index_return'], final1['factor_return'])[0,1]

-0.04458631040182193

In [140]:
import statsmodels.api as sm

In [141]:
final1['intercept']= 1
final1.head()

C:\Users\siava\AppData\Local\Temp\ipykernel_10476\3521324233.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final1['intercept']= 1

     factor_name year_month  index_return  factor_return  intercept
0  market_equity    2023/12        0.0442       0.035934          1
1  market_equity    2023/11        0.0892      -0.019387          1
2  market_equity    2023/10       -0.0220      -0.045762          1
3  market_equity    2023/09       -0.0487      -0.026257          1
4  market_equity    2023/08       -0.0177      -0.051764          1

In [142]:
lm = sm.OLS(final1['index_return'] , final1[['factor_return','intercept']])
lm.fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           index_return   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                 -0.022
Method:                 Least Squares   F-statistic:                   0.08366
Date:                Tue, 06 Aug 2024   Prob (F-statistic):              0.774
Time:                        20:45:05   Log-Likelihood:                 69.325
No. Observations:                  44   AIC:                            -134.6
Df Residuals:                      42   BIC:                            -131.1
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
factor_return    -0.0468      0.162     -0.289      0.774      -0.373       0.280
intercept         0.0124      0.008      1.604      0.116      -0.003       0.028
==============================================================================
Omnibus:                        1.743   Durbin-Watson:                   2.333
Prob(Omnibus):                  0.418   Jarque-Bera (JB):                1.498
Skew:                          -0.304   Prob(JB):                        0.473
Kurtosis:                       2.331   Cond. No.                         20.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [143]:
df_factor3.head()

               name        date       ret new_date
15946  bidaskhl_21d  2020/01/31  0.004402  2020/01
15947  bidaskhl_21d  2020/02/29  0.013359  2020/02
15948  bidaskhl_21d  2020/03/31 -0.063263  2020/03
15949  bidaskhl_21d  2020/04/30  0.105975  2020/04
15950  bidaskhl_21d  2020/05/31  0.035376  2020/05

In [144]:
list_factor

['market_equity',
 'prc',
 'rmax1_21d',
 'ret_1_0',
 'zero_trades_21d',
 'iskew_capm_21d',
 'ivol_capm_21d',
 'rvol_21d',
 'rskew_21d',
 'bidaskhl_21d']

In [149]:
total_return= {}
for i in list_factor:
    df1=df_factor3[df_factor3['name']==i]
    df2=pd.merge(df_index,df1,left_on='value_date',right_on='new_date',how='inner')
    total_return[i]=np.corrcoef(df2['ret'],df2['Value'])[0,1]

In [150]:
total_return

{'market_equity': -0.04458631040182193,
 'prc': 0.036929223344540074,
 'rmax1_21d': -0.4510237529170159,
 'ret_1_0': 0.2991285550062347,
 'zero_trades_21d': -0.4562461202859602,
 'iskew_capm_21d': -0.07383996864137253,
 'ivol_capm_21d': -0.4305939609481767,
 'rvol_21d': -0.4693619909073014,
 'rskew_21d': -0.11141947292819632,
 'bidaskhl_21d': 0.4273098876842883}

In [154]:
my_max= max([abs(i) for i in total_return.values()])
my_max

0.4693619909073014

In [153]:
[i for (i,j) in total_return.items() if j==my_max or j== my_max*-1]

['rvol_21d']